@font-face {
    font-family: "PingFangSC-Regular-tagName";
    src: url("//s3plus.meituan.net/v1/mss_73a511b8f91f43d0bdae92584ea6330b/font/6e3abc4e.eot");
    src: url("//s3plus.meituan.net/v1/mss_73a511b8f91f43d0bdae92584ea6330b/font/6e3abc4e.eot?#iefix") format("embedded-opentype"), url("//s3plus.meituan.net/v1/mss_73a511b8f91f43d0bdae92584ea6330b/font/6e3abc4e.woff");
}

.tagName {
    font-family: 'PingFangSC-Regular-tagName';
}

@font-face {
    font-family: "PingFangSC-Regular-shopNum";
    src: url("//s3plus.meituan.net/v1/mss_73a511b8f91f43d0bdae92584ea6330b/font/02b49d17.eot");
    src: url("//s3plus.meituan.net/v1/mss_73a511b8f91f43d0bdae92584ea6330b/font/02b49d17.eot?#iefix") format("embedded-opentype"), url("//s3plus.meituan.net/v1/mss_73a511b8f91f43d0bdae92584ea6330b/font/02b49d17.woff");
}

.shopNum {
    font-family: 'PingFangSC-Regular-shopNum';
}

@font-face {
    font-family: "PingFangSC-Regular-reviewTag";
    src: url("//s3plus.meituan.net/v1/mss_73a511b8f91f43d0bdae92584ea6330b/font/c0bcd679.eot");
    src: url("//s3plus.meituan.net/v1/mss_73a511b8f91f43d0bdae92584ea6330b/font/c0bcd679.eot?#iefix") format("embedded-opentype"), url("//s3plus.meituan.net/v1/mss_73a511b8f91f43d0bdae92584ea6330b/font/c0bcd679.woff");
}

.reviewTag {
    font-family: 'PingFangSC-Regular-reviewTag';
}

@font-face {
    font-family: "PingFangSC-Regular-address";
    src: url("//s3plus.meituan.net/v1/mss_73a511b8f91f43d0bdae92584ea6330b/font/2ed8f6f4.eot");
    src: url("//s3plus.meituan.net/v1/mss_73a511b8f91f43d0bdae92584ea6330b/font/2ed8f6f4.eot?#iefix") format("embedded-opentype"), url("//s3plus.meituan.net/v1/mss_73a511b8f91f43d0bdae92584ea6330b/font/2ed8f6f4.woff");
}

.address {
    font-family: 'PingFangSC-Regular-address';
}